<section class="chart-card">

  <div class="chart-card__header">

    <div>
      <h3>
        {{ 'dashboard.chart.title' | translate }}
      </h3>

      <p>
        {{ 'dashboard.chart.subtitle' | translate }}
      </p>
    </div>

 <div class="chart-card__period">

  <button
    type="button"
    [class.active]="selectedPeriod === '3m'"
    (click)="changePeriod('3m')"
  >
    {{ 'dashboard.chart.threeMonths' | translate }}
  </button>

  <button
    type="button"
    [class.active]="selectedPeriod === '6m'"
    (click)="changePeriod('6m')"
  >
    {{ 'dashboard.chart.sixMonths' | translate }}
  </button>

  <button
    type="button"
    [class.active]="selectedPeriod === '1y'"
    (click)="changePeriod('1y')"
  >
    {{ 'dashboard.chart.oneYear' | translate }}
  </button>

</div>

  </div>

  <div class="chart-card__body">

    <canvas
      baseChart
      [data]="lineChartData"
      [options]="lineChartOptions"
      [type]="'line'">
    </canvas>

  </div>

</section>